@{
    ViewBag.Title = "About _52Card";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Author James Sullivan, 503-828-1070</p>
<p>
    This _52Card application; <br />
    <span style="font-weight:bold; color:brown;">UI: JavaScript,Jquery, Bootstrap, Responsive</span><br />
    <span style="font-weight:bold; color:brown;">Server: MVC, WebApi, MEF Dependnecy Injection</span><br />
    <span style="font-weight:bold; color:brown;">Backend: Bridge List in the repository or a SQl database</span><br />
    <span style="font-weight:bold; color:brown;">Test: Visual Studio Test Explorer, 14 unit tests, 4 Integration Tests</span><br />
    
    The application can be accessed at <span style="font-weight:bold"> <a href="http://pswsweb.com">http://pswsweb.com/</a></span><br />
</p>
<p>
    This application source code is available on: <span style="font-weight:bold">
    <a href="https://github.com/psws/_52Cards">https://github.com/psws/_52Cards</a></span>><br />
    Download the _52Cards project  <br />

    The application is built with Microdoft Visual Studio 2013<br />
    The application Solution <span style="color:green; font-style :italic;font-weight:bold">Shiftwise._52cards.sln</span> containss  10 Visual Studio projects<br />
    The project's functionality were guided by the Separation of Concerns (SOC) principles.
</p>
